<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="student" class="com.smart.Student">
        <property name="name" value="zhengyao"></property>
        <property name="age" value="20"></property>
    </bean>
    <bean class="com.smart.event.MailSendListener"/><!--注册事件监听器 -->
    <bean name="mailSender" class="com.smart.event.MailSender"/>
</beans>